/* CSS Document */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 500;
    /* line-height: 1.1; */
    color: inherit;
}

.footer-grid h3 {
    color: #f57708;
    /* font-size: 1.8em; */
    text-transform: capitalize;
    margin: 0 0 1em;
}

.login-info input[type="submit"], .contact-left input[type="reset"] {
    outline: none;
    color: #fff;
    font-size: 16px;
    padding: 13px 0;
    width: 49.7%;
    background: GREEN;
    border: none;
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
	font-weight: bold;
}

#map {
        height: 400px;
        width: 100%;
       }
	   
.contact, .banner-bottom {
		padding: 1em 0;
	}
	
.hotnews {
	margin-bottom : 1em; 
	text-align:center;
	color:#F30;
	font-family: "Times New Roman", Times, serif;
	font-weight:bold !important;
}

@media (max-width: 800px)
.tags-cate {
    /* padding: 2em 0; */
    /* margin: 2em 0; */
    padding-top: 1em;
    margin-top: 1em;
}

.tags-cate {
    /* padding: 3em 0; */
    border-top: 1px dotted #adadad;
    border-bottom: 1px dotted #adadad;
    /* margin: 3em 0; */
}

.list{
	padding-left: 1em;	
	text-align:justify;	
}

.newsTitle{
	color: orange !important;	
	/*text-align:justify;*/
}

.newscontent{
	color: black !important;
    font-size: 16px !important;
    /* font-style: italic; */
    margin: 0 0 1em !important;
    text-align: justify;
}

.datepost{
	color: #565656 !important;
	/*font-style:italic;*/	
	text-align:right
}

figcaption{
	text-align:center;
	margin-bottom: 1em;
}