.cd-container  .name-recipe span {
    font-size: 22px;
    font-weight: bold;
    line-height: 24px;
}
.cd-container .name-recipe {
    width: 90%;
    text-align: center;
    padding: 5px 0px;
    margin: 0 auto;
    position: relative;
    z-index: 105;
}
.cd-container  .ratting-recipe {
    width: 45%;
    padding: 5px 0px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    z-index: 105;
}
.cd-container  .ratting-recipe .score-ratting span {
    font-size: 20px;
    font-weight: bold;
    color: #3074C1;
}
.cd-container  .ratting-recipe .score-ratting {
    width: 12%;
    float: left;
    text-align: right;
    line-height: 17px;
}
.cd-container .ratting-recipe .count-ratting {
    width: 100%;
    text-align: center;
    overflow: hidden;
}
.cd-container .prepare-perform-level {
    overflow: hidden;
    float: left;
    width: 100%;
    margin-left: 15px;
    padding: 20px 0px;
    position: relative;
    z-index: 105;
}
.cd-container .main-desc {
    padding: 10px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    z-index: 105;
}
.cd-container .main-desc p {
    text-align: center;
    padding-bottom: 5px;
}
.cd-container .main-desc p.name-creator {
    font-size: 18px;
    font-weight: bold;
}