.cd-container  .name-recipe span {
    font-size: 22px;
    font-weight: bold;
    line-height: 24px;
}
.cd-container .name-recipe {
    width: 90%;
    text-align: center;
    padding: 5px 0px;
    margin: 0 auto;
    position: relative;
    z-index: 105;
}
.cd-container  .ratting-recipe {
    width: 45%;
    padding: 5px 0px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    z-index: 105;
}
.cd-container  .ratting-recipe .score-ratting span {
    font-size: 20px;
    font-weight: bold;
    color: #3074C1;
}
.cd-container  .ratting-recipe .score-ratting {
    width: 12%;
    float: left;
    text-align: right;
    line-height: 17px;
}
.cd-container .ratting-recipe .count-ratting {
    width: 100%;
    text-align: center;
    overflow: hidden;
}
.cd-container .prepare-perform-level {
    overflow: hidden;
    float: left;
    width: 100%;
    margin-left: 15px;
    padding: 20px 0px;
    position: relative;
    z-index: 105;
}
.cd-container .main-desc {
    padding: 10px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    z-index: 105;
}
.cd-container .main-desc p {
    text-align: center;
    padding-bottom: 5px;
}
.cd-container .main-desc p.name-creator {
    font-size: 18px;
    font-weight: bold;
}
@import url(http://fonts.googleapis.com/css?family=Roboto:400,900);

.module {
	background: 
    linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url(../images/main.jpg);  background-size: cover;
  background-color: rgba(0, 0, 0, 0.40);
  width: 93%;
  height: 180px;
  margin: 0 auto 0 auto;
  position: relative;
}

/* .top h2 { */
  /* color: black; */
  /* margin: 0; */
  /* padding: 10px; */
/* } */

/* .lr p { */
  /* font-family: 'Roboto', sans-serif; */
  /* position: absolute; */
  /* bottom: 20px; */
  /* left: 20px; */
  /* color: white; */
  /* margin: 0; */
/* } */

.recipetitle {
  /* font-family: 'Roboto', sans-serif; */
  color: white;
  margin: 0;
  position: absolute;
  top: 80%;
  left: 50%;
  font-size: 16px;
  transform: translate(-50%, -50%);
}

/* .cap p { */
  /* padding: 20px; */
  /* color: white; */
  /* font: 12px Monaco, Mono-Space; */
  /* margin: 0; */
/* } */