h1{
}

body {
  background-image: url("background.png");
}
/* special-food */
.special-food > h2 ,.new-food > h2 {
	background-image: none !important; 
	font-family: "BertholdScript-u";
	visibility: visible;
    animation-delay: 0.2s;
	font-size: 4.28em;
    animation-name: fadeInDown;
	    font-weight: 500;
    text-align:center;
	-webkit-font-smoothing: antialiased;
	    
	font-weight: bold;
}
special-food > h3 {
	font-weight: bold;
	color:#000 !important;
	
}
div.special.promotion{
}

.item-image-wrapper {
    border: 1px solid #F7F7F5;
    overflow: hidden;
    margin-bottom: 30px;
}


 Carousel Header Styles 
.header-text {
    position: absolute;
    top: 20%;
    left: 1.8%;
    right: auto;
    width: 96.66666666666666%;
    color: #000000;
}

.header-text h2 {
    font-size: 40px;
}

.header-text h2 span {
    background-color: transparent;
	padding: 10px;
}

.header-text h3 span {
	background-color: transparent;
	padding: 15px;
}

.btn-min-block {
    min-width: 170px;
    line-height: 26px;
}

.btn-theme {
    color: #fff;
    background-color: transparent;
}


.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
    text-shadow: 0 0 0 rgba(0,0,0,.25);
	color: #FFFFFF ;
	 font-weight: bold;
}


.navbar-nav>li>a:hover,
.navbar-nav>li>a:focus {
    color: rgba(255,0,0,1) !important;
    background-color:  255, 255, 1) !important;
   	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
}	
.bs-docs-nav {
		
	background: rgba(37,65,83,1);
	/*background-color: transparent;*/
	
}
		
		
		
/*social-top*/
.social-top>a {
    display: inline-block !important;
    font-size: 15px !important;
    color: #fff !important;
	background: none !important;
    padding: 2px 6px !important;
    margin-top: 12px !important;
}






/*special-food*/

.special-food-control {
    background-image: none !important;
}
.icon-nav.icon-prev {
    background-image: url('icon-prev.png');
}
.icon-nav.icon-next {
    background-image: url('icon-next.png');
}
.special-food-indicators,
.new-food-indicators
{
	bottom: -20px;
}


special-promotion
.special-promotion > div {
	margin-bottom:auto;
}
.special-promotion > div > h2 {
	background-image: none !important; 
	font-family: "BertholdScript-u";
	visibility: visible;
    animation-delay: 0.2s;
	font-size: 4.28em;
    animation-name: fadeInDown;
	    font-weight: 500;
    
	-webkit-font-smoothing: antialiased;
	    
	font-weight: bold;
	
}


.p-after-h2 {

	text-align:center;
	-webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.view-detail {
	text-align:center;
	}
	
	
	
.footer-widget > div >div > div > h3{
	font-family: "BertholdScript-u";
	visibility: visible;
    animation-delay: 0.2s;
	
    animation-name: fadeInDown;
	    font-weight: 500;
}
	
.img-silder {
	margin-left: 20px;
	margin-right: 20px;
}


.navbar-brand {
    float: left;
    height: 50px;
    padding: 10px 15px;
    font-size: 18px;
    line-height: 20px;
}


.navbar-nav>.active {
    color: #3F9 !important;
    background-color: #66FF33 !important;
}


hr.special-food-hr {
	border-top: 4px double #8c8b8b;
	text-align: center;
}
hr.special-food-hr:after {
	content: '\002756';
	display: inline-block;
	position: relative;
	top: -15px;
	padding: 0 10px;
	background: #A4DDEC;
	color: #8c8b8b;
	font-size: 20px;
}
