/* CSS Document */

.navbar-custom {
    background: darkblue;
    font-weight: 700;
    border: none;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: aliceblue;
}

footer .footer-below {
    padding: 25px 0;
    background-color: darkblue;
}

header {
    text-align: center;
    background: lightseagreen;
}

header {
    color: orange !important;
}

footer {
    color: blanchedalmond;
}
footer .footer-above {
    padding-top: 50px;
    background-color: #18BC9C;
}